
.Header-Container{
    background-image: url('./image/bg-webwhite.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    /* border-bottom: 3px solid #9154FA; */

}
.Navbar-Container{
    padding: 20px;
    /* background: #333; */
    /* font-family: 'ABeeZee', sans-serif; */
    font-size: 25px;
    font-weight: 500;
}
.Menu-Bars{
    display: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li{
    float: right;
}

li a{
    display: block;;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    text-decoration-line: none;
}
li a:hover{
    text-decoration: none;
    color: black;
}
.Nav-Resp a::after{
    content: "";
    display: block;
    width: 0;
    border-bottom: 4px solid;
    /* margin: 0 auto; */
    transition:all 0.3s linear 0s;
    color: #222;
}
.Nav-Resp a:hover::after{
    width: 100%;
}
.Header-Content{
    /* background: orange; */
    
}
.Header-Image{
    width: 60%;
    margin: auto;
    margin-top: 30%;
}
.Header-Txt{
    padding: 20px;
}
.Header-Txt h1{
    /* font-family: 'ABeeZee', sans-serif; */
    font-size: 150px;
    font-weight: 700;
    
}
.Header-Txt p{
    /* font-family: 'ABeeZee', sans-serif; */
    font-size: 30px;
}

/* About Us */
.About-Container{
    min-height: 500px;
    background-image: linear-gradient(-225deg, #22E1FF 50%, #1D8FE1 40%, #625EB1 100%);;
    padding: 50px 0;
    margin: 20px;
    border-radius: 20px;
}
.About-Txt{
    margin: auto;
}
.About-Txt h1{
    font-size: 80px;
    font-weight: 700;
}
.About-Txt p{
    font-size: 30px;
    font-weight: 500;
}
.About-Img{
    width: 80%;
    margin: auto;
}

/* Pricing */

.Pricing-Container{
    background-image: linear-gradient(38deg, #22E1FF 50%, #1D8FE1 40%, #625EB1 100%);;
    padding: 50px 0 30px 0;
    margin : 0 20px;
    border-radius: 20px;
}
.Pricing-Card{
    /* box-shadow: 5px 5px 5px rgb(141, 141, 141); */
    /* background: #6C63FF; */
    border-radius: 20px;
    color: white;
    position: relative;
    padding: 20px;
    height: 100%;
    background: white;
    color: black;
    transition: all 150ms ease-in-out;


}

.Pricing-Card:hover{
    transform: scale(1.1);

}
.Pricing-Card-Content h1{
    /* background: pink; */
    margin-bottom: 30px;
}
.Pricing-Card-Content h3{
    margin-bottom: 30px;
}
.Pricing-Ul{
    list-style-type: decimal;

}

/* Contact Us */
.Contact-Container{
    padding: 50px 0;
}
.Contact-Img{
    width: 300px;
    margin: auto;
}
.Contact-Txt h1{
    font-size: 80px;
    font-weight: 700;
}
.Contact-Txt p{
    font-size: 30px;
    font-weight: 500;
}

/* Sidenav */
.Sidenav-Container{
    height: 100vh;
    background: white;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    transition: 0.5s;
    color: black;


}

.SideNav-Btn{
    background: none;
    outline: none;
    border: none;
    font-weight: 900;
    font-size: 25px;
}
.SideNav-Btn:focus, .SideNav-Btn-Close:focus{
    outline: none;
}
.SideNav-Btn-Close{
    background: none;
    border: none;

}
.Sidenav-Link li{
    float: left;

}
.Sidenav-Link li{
    /* background: #1D8FE1; */
    display: inline-block;
    width: 100%;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;

    
}

.Login-Btn{
    background: rgb(48,195,238);
    color: white;
    width: 200px;
    font-size: 25px;
    padding: 10px;
    /* border: 3px solid #FA6C6B; */
    border-radius: 40px;
    border: none;
    
}
.Login-Btn:hover{
    background: #625EB1;
}
.Login-Btn:focus{
    outline: none;

}
@media only screen and (max-width: 768px) {
    .Nav-Resp{
        display: none;
    }
    .Menu-Bars{
        display: block;
    }
    .Nav-Container{
        padding: 0;

    }
    li a{
        padding: 0;
    }
    
}
@media only screen and (max-width: 1700px) {
    .Header-Txt h1{
        font-size: 80px;
    }
    
}
@media only screen and (max-width: 1200px) {
    
    .Header-Image{
        width: 90%;
        margin: auto;
    }
    .Contact-Container{
        text-align: center;
    }
    
}

@media only screen and (max-width: 1999px) {
    .Header-Txt h1{
        font-size: 100px;
    }
}
@media only screen and (max-width: 851px) {
    .Header-Txt h1{
        font-size: 60px;
        margin-top: 50px;
    }
    .Header-Txt p {
        font-size: 25px;
        font-weight: 600;
        padding-top: 20px;
    }
    .Header-Container{
        padding-bottom: 20px;

    }
}
@media only screen and (max-width: 490px) {
    .About-Txt h1, .Contact-Txt h1{
        font-size: 50px;
    }
    .About-Txt p, .Contact-Txt p{
        font-size: 25px;
    }
    .Header-Container{
        border: none;

    }
}

@media only screen and (max-width: 425px) {
    .Header-Txt p{
        font-size: 20px;
        padding: 0;
    }
    .Contact-Img{
        width: 200px;
    }
}
@media only screen and (max-width: 400px) {
    .Pricing-Card-Content h1{
        font-size: 25px;
        
    }
    .Contact-Txt p{
        font-size: 20px;
    }
}
